<div class="xb-left">
    <ul>
        <li><a href="">用户管理</a</li> 
        <li><a href="/banner">banner图管理</a></li>
        <li><a href="">影片管理</a></li>
        <li><a href="">影院管理</a></li>
    </ul>
</div>